<!DOCTYPE html>
<html>
    <head>
   	 <title>My sick SPA</title>
   	 <meta charset="utf-8">
   	 <link rel="stylesheet" type="text/css" href="/spa/styles/app.css">
    </head>
    <body>
   	 <div class="wrapper">
   		 <header class="header">
   			 <div class="header__content">
   				 <h1 class="header__title" id="title">Main</div>
   			 </div>
   		 </header>
   		 <main class="main">
   			 <div class="main__content" id="body">
   				 <p>Lorem ipsum dolor sit amet </p>

   				 <a href="/Articles/1" class="link link_internal">Article 1</a><br>
   				 <a href="/Articles/2" class="link link_internal">Article 2</a><br>
   				 <a href="/Articles/3" class="link link_internal">Article 3</a><br>
   				 <a href="/Articles/4" class="link link_internal">Article 4</a><br>
   			 </div>
   		 </main>
   	 </div>
   	 <script type="text/javascript" src="/spa/scripts/app.js"></script>
    </body>
</html>